<% content_for :head do %> <%# XXX: Can't import CSS to SCSS, so we can't use sprockets-rails and webpacker to serve that CSS asset %>
  <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.4.0/leaflet.css", integrity: "sha256-YR4HrDE479EpYZgeTkQfgVJq08+277UXxMLbi/YP69o=", crossorigin: "anonymous" %>
  <%= javascript_pack_tag "houses/leaflet", "data-turbolinks-track": "reload" %>
<% end %>

<% if owner? %>
<div class="d-flex justify-content-end">
  <div>
    <%= link_to t(".edit"), edit_house_path(@house), class: "text-warning" %>
  </div>
</div>
<% end %>

<div class="row mt-2">
  <div class="col-12 col-lg-6">
    <div>
      <h2 class="text-center"><%= t(".specification") %></h2>
      <b><%= t(".rent") %></b>: <%= number_to_currency(@house.rent) %> <br>
      <b><%= t(".deposit") %></b>: <%= number_to_currency(@house.deposit) %> <br>
      <b><%= t(".preferred_gender") %></b>: <%= @house.preferred_gender.humanize %> <br>
      <b><%= t(".available_at") %></b>: <%= @house.available_at.to_date.strftime("%B %d, %Y") %> <br>
      <b><%= t("built_in") %></b>: <%= @house.built_in.strftime("%B %Y") %>
    </div>

    <div class="mt-3">
      <h3 class="text-center"><%= t(".features") %></h3>
      <%= render "houses/features_table", house: @house %>
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="mt-3">
      <h2 class="text-center"><%= t(".address") %></h2>
      <address>
        <%= [@house.address.address_1, @house.address.address_2].compact.join(", ") %> <br>
        <%= @house.address.city %> <%= @house.address.state %>, <%= @house.address.zip_code %>
      </address>

      <%= tag :div, id: "map", style: "height: 280px;", data: { latitude: @house.address.latitude, longitude: @house.address.longitude } %>
    </div>

    <div class="mt-3">
      <h2 class="text-center"><%= t(".description") %></h2>
      <p><%= @house.description %></p>
    </div>
  </div>
</div>

<%= link_to t(".back"), houses_path %>
